include:
  - local: '.gitlab-ci-template.yml'
  - project: clops/gitlab-ci-pop-analysis
    ref: master
    file: pop_analysis.yaml
  - project: releng/common-gitlab-ci
    ref: master
    file: sbom-generate.yml
  - project: altair/altair-build-common
    ref: master
    file: gitlab/ci/altair_versioning.yml
  - project: altair/altair-build-common
    ref: master
    file: gitlab/ci/altair_common.yml


# List of job stages in their order of execution.
stages:
  - build
  - unit_test_and_coverage
  - versioning
  - analysis
  - sbom
  - notification

variables:
  BUILD_TOOL: npm
  GIT_DEPTH: 10
  BD_PRODUCT_GROUP: PolarisNG Projects Group
  BD_VERSION_PHASE: DEVELOPMENT
  PUBLISHER_ID: E2Etest
  ORG_NAME : centralintegrations
  TESTNG_FAILED_XML: test-output/testng-failed.xml
  DISABLE_POLARIS_CLASSIC_ANALYSIS: "true"


##### MERGE REQUEST PIPELINE #####

build_job:
  extends:
    - .build
  stage: build

unit_test_and_coverage_job:
  stage: unit_test_and_coverage
  extends:
    -  .unit_test_and_coverage
  dependencies: [build_job]


.export_sbom_variables:
  before_script:
    - export EXT_VERSION=$(cat vss-extension.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')
    - export ARTIFACTORY_UPLOAD_REPO=1
    - export SBOM_ART_TOKEN_VAULT_PATH=sbom/integrations/blackduck-security-extension
    - export PRODUCT=Integrations
    - export GENERATE_CONFIGURATION_FILE=1
    - export PRODUCT_ADDON_SBOM_OPTIONS="--output-zipfile blackduck-security-extension-$EXT_VERSION.zip --debug"
    - export GENERATION_OPTIONS="--entry integrations/mirrored-repos/blackduck-security-extension:blackduck-security-extension-$EXT_VERSION"

generate_sbom:
  extends:
    - .export_sbom_variables
    - .run_sbom_generation
  stage: sbom
  only:
    refs:
      - main

polaris_bridge:
  image: releng/base-gitlab-runner:jdk17-python3.11-git
  extends: .polaris_bridge
  stage: analysis
  before_script:
    - |
      apt-get update -y
      apt-get install -y make
      export DETECT_ACCURACY_REQUIRED=NONE

pop_blackduck:
  image: us-docker.pkg.dev/cloudops-artifacts-prd/polaris/ember_cli:3.28.5-node_16
  extends:
    - .new_pop_blackduck_analysis
  before_script:
    - |
      apt-get update -y
      apt-get install -y rsync make jq python3 python3-pip
      pip3 install blackduck requests
      export RELEASE_VERSION=$(cat vss-extension.json | grep version | head -1 | awk -F= "{ print $2 }" | sed 's/[version:,\",]//g' | tr -d '[[:space:]]')