/.idea/
/blackduck-security-task/node_modules/
/blackduck-security-task/lib/
/blackduck-security-task/TEMP
/blackduck-security-task/.bridge/
/blackduck-security-task/.taskkey
/blackduck-security-task/coverity_input.json
/blackduck-security-task/bd_input.json
/blackduck-security-task/polaris_input.json
/blackduck-security-task/srm_input.json
/blackduck-security-task/.nyc_output/
/blackduck-security-task/coverage//
.DS_Store
*.blackduck-security-scan-*.vsix
/blackduck-security-task/coverage/
/blackduck-security-task/test/unit/blackduck-security-task/bridge-cli.zip