**/node_modules/**
blackduck-security-task/node_modules/**
/blackduck-security-task/node_modules
blackduck-security-extension/blackduck-security-task/node_modules
/blackduck-security-extension/blackduck-security-task/node_modules